<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>studio.uppercloud.daily-digest</string>

    <key>ProgramArguments</key>
    <array>
        <string>__REPO__/run-daily.sh</string>
    </array>

    <key>WorkingDirectory</key>
    <string>__REPO__</string>

    <key>StandardOutPath</key>
    <string>__HOME__/Library/Logs/uppercloud-daily-digest.log</string>

    <key>StandardErrorPath</key>
    <string>__HOME__/Library/Logs/uppercloud-daily-digest.log</string>

    <!-- Run daily at 09:00 local time. If the Mac is asleep at 9am,
         launchd runs it as soon as the Mac wakes (this is the default
         StartCalendarInterval behavior). -->
    <key>StartCalendarInterval</key>
    <dict>
        <key>Hour</key>
        <integer>9</integer>
        <key>Minute</key>
        <integer>0</integer>
    </dict>

    <!-- Don't run more than once per launch event, in case launchd
         tries to catch up after a long sleep. -->
    <key>RunAtLoad</key>
    <false/>
</dict>
</plist>
